@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Left Right Text */
    .lrcontainer {
        width: 85%;
        display: flex;
        gap: 20px;
        padding: 10px 20px;
        height: 30vh;
        margin: auto;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        border-radius: 10px;
        align-items: center;
        max-width: 900px;
    }


    .tabDisplayContent ul{
       
        @apply list-[disclosure-closed] pt-8

    }

   .tabDisplayContent ul li::marker{
        @apply text-[var(--marine)]
    }

    .tabDisplayContent ul li:hover::marker{
        @apply text-white
    }

    .tabDisplayContent {
        @apply flex h-full max-w-[70%] m-auto overflow-auto p-5 flex-col
    }

    .leftContent, .rightContent {
        font-size: 16px;
        display: flex;
        flex-basis: 50%;
    }

    .middle {
        height: 100%;
        width: 3px;
        background: black;
        border-radius: 100%;
    }
}
